:root {
    --color-light-blue: #99ccff;
    --color-white #fff;
    --color-navy: rgba(62,61,70);
    --color-peach: #ffcc99;
    --color-pink: #ff8080;
}

* {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    transition: all 100ms;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(62,61,70);
    color: #ffcc99;
    padding: 20px;
}

p {
    font-size: 25px;
}

p1 {
  font-size: 25px;
  color: white;
}

p2 {
  font-size: 40px;

}

button {
  background-color: #99ccff;
  color: rgba(62,61,70);
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}
