<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="static/client.css"/>
  </head>
   <body>
      <form action = "http://localhost:5000/result" method = "POST">
         <p2>Name <input type = "text" name = "Name"  /></p2> <br> </br>
         <p1> Type in A for the first option. Type in B for the second option. </p1>
         <p>Tabs or spaces? <br> </br>  <input type = "text" name = "Question 1" /></p>
         <p>Python or Java? <br> </br> <input type = "text" name = "Question 2" /></p>
         <p>Pineapple on pizza? A for yes. B for no. <br> </br> <input type ="text" name = "Question 3" /></p>
         <p>Mac or PC? <br> </br> <input type ="text" name = "Question 4" /></p>
         <p>iOS or Andriod?  <br> </br><input type ="text" name = "Question 5" /></p>
         <p>Is water wet? <br> </br> <input type ="text" name = "Question 6" /></p>
         <p>Is cereal considered soup? A for yes. B for no.  <br> </br><input type ="text" name = "Question 7"/></p>
         <p>Dark or light mode? <br> </br> <input type ="text" name = "Question 8" /></p>
         <p>camelCase or Capitalization for class names? <br> </br> <input type ="text" name = "Question 9" /></p>
         <form action="http://localhost:5000/" class="inline">
         <button class="float-left submit button">SUBMIT</button>
         </form>
      </form>
   </body>
</html>
